body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
h1{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #06307e;
    font-weight: 600;
    margin-bottom: 30px;  
}
h2{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    margin-bottom: 30px;  
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.search-bar input {
    padding: 10px;
    border: 12px;
    border-radius: 5px;
    margin-right: 10px;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #007bff;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

.profile-details {
    position: relative;
}

.profile-details ul {
    list-style: none;
    padding: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #020e53;
    box-shadow: 0 0 10px rgb(8, 42, 195);
    display: none;
}

.profile-details ul li {
    margin-bottom: 2px;
}

.profile-icon-container:hover .profile-details ul {
    display: block;
}

/* Navbar Styles */
.navbar-default {
    background-color: #333;
    border: 0;
    font-size: 12px !important;
    line-height: 1.8 !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* Box styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
}
.card-container {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

.card {
    max-width: 800;
    max-height: fit-content;
    border: 1px solid #f3e9e9;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Added margin for spacing between cards */
    margin: 12px; 
    font-family: arial;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.title {
    color: #888;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.card a, .card button {
    text-decoration: none;
    color: #ffffff;
    margin: 2px;
}

button {
    padding: 25px;
    color: #ffffff;
    outline: 0;
    display: inline-block;
    background-color: #030000;
    text-align: center;
    width: 100%;
    font-size: 18px;
    border: 3px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.container-fluid {
    padding: 50px;
}

.col-sm-4 {
    margin-bottom: 20px;
}
.collapsible{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover{
    background-color: #555;
}

.content{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;

}

.content {
    padding:20px;
  }

  .carousel-content {
    position: absolute;
    bottom: 40%;
    left: 10%;
    padding-right: 50%;
    color: white;
  }

  .title {
    color: darkblue;
  }

  .column {
    float: left;
    width: 15%;
    padding: 0 16px;
    margin-bottom: 100px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: aliceblue;
    float: center;
  }

  #image_card{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
  }

  .container{
    padding: 0 16px;
  }

.title{
    color: grey;
    font-size: 18px;
}

button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover{
    opacity: 0.7;
}
/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: auto;
    border-top: 2px solid #ddd; /* Add a top border for separation */
}

footer a {
    color: #fff;
    text-decoration: none;
}

.column {
    float: left;
    width: 25%;
    padding: 0 16px;
    margin-bottom: 100px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: aliceblue;
    float: center;
  }

  #image_card{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
  }

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.text1, .text2, .text3, .text4, .text5, .text6 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.text1, .text2, .text3, .text4, .text5, .text6 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}